{% extends 'base.html' %}
{% load static %}

{% block title %}Service{% endblock %}

{% block content %}

  
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Services Area Start ***** -->
  <section class="dentist-area section-padding-50-0">
   <center><h3 class="lead">Our Services</h3></center>

      </br>
    <div class="container">

      <div class="row">

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/123.jpg' %}" alt="">
            </div>
            <h5>Dentistry</h5>
            <p>Dental Implants,Bone Grafting,Sedation Dentistry,Teeth 
            Whitening,Dental Cavities,Special Care Dentistry.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/123.jpg' %}" alt="">
            </div>
            <h5>Cardiology</h5>
            <p>Bypass Surgery,Heart valve treatment,vascular surgery,
              Catheter ablation,Pacemaker systems.</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/123.jpg' %}" alt="">
            </div>
            <h5>psychiatry</h5>
            <p>Mentalhealth assistance for young and old people.</p>
          </div>
        </div>


        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/123.jpg' %}" alt="">
            </div>
            <h5>ENT</h5>
            <p>Hearing and balance,swallowing and speech,breathing and sleep issues,
              allergies and sinuses,head and neck cancer.
            </p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/123.jpg' %}" alt="">
            </div>
            <h5>Dermatology</h5>
            <p>Excision and treatment of skin cancer,Cryosurgery for the treatment 
              of warts,skin cancers,Cosmetic filler injections and chemotherapy.
            </p>
          </div>
        </div>

        <!-- Single Service Area -->
        
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/123.jpg' %}" alt="">
            </div>
            <h5>gynaecology</h5>
            <p>Issues relating to pregnancy, fertility, menstruation, menopause, Family planning, including contraception, sterilization, and pregnancy termination.</p>
          </div>
        </div>

          <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/123.jpg' %}" alt="">
            </div>
            <h5>Eye Care</h5>
            <p>vision tests,prescribe lenses and treat certain eye conditions.</p>
          </div>
        </div>


      </div>
    </div>
  </section>
  <!-- ***** Services Area End ***** -->

  <!-- ***** Testimonials Area Start ***** -->

{% endblock %}